@model IEnumerable<ImpactLeapApp.Models.OrderModels.OrderDetailViewModel>

@{
    ViewData["Title"] = "Order Details";
}

@{
    var totalAmount = Model.FirstOrDefault().TotalToPay / 100;
    var orderNum = Model.FirstOrDefault().OrderNum;
    var noteFromUser = Model.FirstOrDefault().NoteFromUser;
    var uploadedFileNameList = ViewBag.UploadedFileList;
}

<div class="row">
    <div class="col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption ">
                    <span class="caption-subject bold font-yellow-casablanca"> Order Details </span>
                    <span class="caption-helper">| @Html.DisplayFor(Model => Model.FirstOrDefault().OrderNum)</span>
                </div>
            </div>

            <div class="portlet-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-2 control-label">@Html.DisplayNameFor(Model => Model.UserEmail)</label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(Model => Model.FirstOrDefault().UserEmail)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.OrderedDate)</label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(model => model.FirstOrDefault().OrderedDate)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.TotalToPay)</label>
                        <div class="col-md-10 admin-align-middle">
                            $@totalAmount
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.OrderStatus)</label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(model => model.FirstOrDefault().OrderStatus)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.SalesRep)</label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(model => model.FirstOrDefault().SalesRep)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.NoteFromAdmin)</label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(model => model.FirstOrDefault().NoteFromAdmin)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.DeliveredDate)</label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(model => model.FirstOrDefault().DeliveredDate)
                        </div>
                    </div>

                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-6">

                    <!-- START PORTLET FOR MODULE -->
                    <div class="portlet blue-madison box">
                        <div class="portlet-title">
                            <div class="caption"> Modules </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table order-summary-buttom-margin">
                                <thead class="thead-default">
                                    <tr class="active">
                                        <th>#</th>
                                        <th>@Html.DisplayNameFor(model => model.ModuleName)</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        var moduleNum = @i + 1;
                                        <tr>
                                            <td>@Model.ElementAt(@i).ModuleId</td>
                                            <td>@Model.ElementAt(@i).ModuleName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END PORTLET FOR MODULE -->

                </div>

                <!-- START PORTLET FOR PORTFOLIO -->
                @if (uploadedFileNameList != null || noteFromUser != null)
                {
                    <div class="col-md-6">
                        <div class="portlet blue-madison box">
                            <div class="portlet-title">
                                <div class="caption"> Portfolio </div>
                            </div>

                            @if (uploadedFileNameList != null)
                            {
                                <div class="portlet-body">

                                    <table class="table order-summary-buttom-margin">
                                        <thead>
                                            <tr class="active">
                                                <th>
                                                    @Html.DisplayNameFor(model => model.UploadedFileName)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @foreach (var fileName in uploadedFileNameList)
                                                    {
                                                        var filePath = Model.FirstOrDefault().UploadedFilePath;
                                                        string fileLink = filePath + fileName;
                                                        <a href="@fileLink">
                                                            @fileName
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }

                            @if (noteFromUser != null)
                            {
                                <div class="portlet-body">

                                    <table class="table displayFullNote order-summary-buttom-margin">
                                        <thead>
                                            <tr class="active">
                                                <th>
                                                    @Html.DisplayNameFor(model => model.NoteFromUser)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(Model => Model.FirstOrDefault().NoteFromUser)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                }
                <!-- END PORTLET FOR PORTFOLIO -->

            </div>
            <br />

            <a asp-action="Index" class="btn blue-chambray" role="button">
                Order Dashboard
            </a>
            <a asp-action="Edit" asp-route-id="@Model.FirstOrDefault().OrderId"
               role="button" class="btn green-meadow btn-left-margin">
                Edit
            </a>

        </div>
    </div>
</div>
