@model IEnumerable<ImpactLeapApp.Models.Fund>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="state-info">
    <section class="panel">
        <div class="panel-body">
            <a class="btn btn-info text-center"
               style="padding: 10px;"
               role="button"
               asp-controller="Order"
               asp-action="Index">
                Order
            </a>
        </div>
    </section>
</div>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FundName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FundManager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Strategy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Geography)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FundName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strategy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>

<div class="col-md-6">
    <section class="panel">
        <div class="panel-body" style="display:table">
            Where shall we send your analysis?<br /><br />
            @if (SignInManager.IsSignedIn(User))
            {
                <b><input class="form-control" type="email" required="required" name="email" value="@ViewData["Email"]" placeholder="Enter your email" /></b>
            }
            else
            {
                <input class="form-control" type="email" required="required" name="email" placeholder="Enter your email" />
            }

            <button type="submit" class="btn btn-primary btn-new-order">
                Next step&nbsp;
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>

        </div>
    </section>
</div>


@section scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}