@model ImpactLeapApp.Models.BillingModels.Promotion
@using ImpactLeapApp.Models.BillingModels

@{
    ViewData["Title"] = "Details";
}

@{
    IFormatProvider formatProvider = new System.Globalization.CultureInfo("en-US");
}

<div class="row">
    <div class="col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption ">
                    <span class="caption-subject bold font-yellow-casablanca"> Saving Details </span>
                    <span class="caption-helper">| @Html.DisplayFor(model => model.PromotionName)</span>
                </div>
            </div>

            <div class="portlet-body">
                <div class="form-horizontal">

                    <div class="form-group edit-bottom-default-margin">
                        <label asp-for="PromotionId" class="col-md-2 control-label"></label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(model => model.PromotionId)
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="PromotionName" class="col-md-2 control-label"></label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(Model => Model.PromotionName)
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="PromotionCode" class="col-md-2 control-label"></label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(Model => Model.PromotionCode)
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="DiscountMethod" class="col-md-2 control-label"></label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(Model => Model.DiscountMethod)
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="DiscountRate" class="col-md-2 control-label"></label>
                        <div class="col-md-10 admin-align-middle">
                            @if (Model.DiscountMethod == PromotionDiscountMethodList.Fixed)
                            {
                                <span>
                                    @Model.DiscountRate.ToString("C0", formatProvider)
                                </span>
                            }
                            else if (Model.DiscountMethod == PromotionDiscountMethodList.Percentage)
                            {
                                <span>
                                    @Html.DisplayFor(model => model.DiscountRate)%
                                </span>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="DateFrom" class="col-md-2 control-label"></label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(Model => Model.DateFrom)
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="DateTo" class="col-md-2 control-label"></label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(Model => Model.DateTo)
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(Model => Model.Description)
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="IsActive" class="col-md-2 control-label"></label>
                        <div class="col-md-10 admin-align-middle">
                            @Html.DisplayFor(Model => Model.IsActive)
                        </div>
                    </div>
                </div>

                <br /><br />
                <div>
                    <a asp-action="Index" class="btn blue-chambray" role="button">
                        Order Dashboard
                    </a>
                    <a asp-action="Edit" asp-route-id="@Model.PromotionId"
                       role="button" class="btn green-meadow btn-left-margin">
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>